body {
  color: #49e8ff;
  overflow-x: hidden;
  height: 100%;
  background: url("../FE/background.jpg");
  
  background-repeat: no-repeat
}


.card {
  width: 400px;
  background-color: #d1f7ff
}

.block {
  width: 20%;
  background-color: #c0f7ff;
  cursor: pointer;
  padding: 10px 0px
}

.first-block {
  border-bottom-left-radius: 5px
}

.last-block {
  border-bottom-right-radius: 5px
}

.block.active,
.block:hover {
  background-color: #94f7ff
}

.city-symbol {
  width: 200px;
  height: 250px
}

.large-font {
  font-size: 60px
}

.symbol-img {
  width: 40px;
  height: 40px
}

@media screen and (max-width: 400px) {
  .card {
      width: 92%
  }
}

